.App {
  width: 100%;
  height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
}

.Sidebar{
  margin-left: 40px;
  margin-top: 40px;
  height: 100%;
  width: 250px;
  background-color: #2f4050;
}

.SidebarList{
  height: 100%;
  padding: 0;
  width: 100%;
  padding-bottom: 150px;
}

.SidebarList .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active{
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex: 70%;
}
h4{
  color: white;
  padding-left: 75px;
  padding-top: 20px;
  line-height: 20pt;
}

img{
  padding-left: 20px;
  height: 40px;
  display: inline-block;
  float: left;
  padding-top: 25px;  
}

p{
  padding-left: 30px;
}
